<h1>{{pageSlogan}}</h1>
<div class="row">
  <div class="col-sm-6">
    <h3>Product Insert</h3>
    <div class="mb-3">
      <input [(ngModel)]="title" type="text" class="form-control" placeholder="Title">
    </div>
    <div class="mb-3">
      <input [(ngModel)]="detail" type="text" class="form-control" placeholder="Detail">
    </div>
    <button (click)="fncInsertProduct()" class="btn btn-success">Send</button>
  </div>
  <div class="col-sm-6">

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Title</th>
          <th scope="col">Detail</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of productArr;let i=index">
          <th scope="row">{{item.count}}</th>
          <td>
           <!---- <a href="detail/{{item.count}}" target="_blank"> {{item.title}}</a>!-->
           <button (click)="fncGoToDetail(item.count)" class="btn btn-primary btn-sm btn-block">{{item.title}}</button>
          </td>
          <td>{{item.detail}}</td>
          <td><button (click)="fncDeleteProduct(i)" class="btn btn-danger btn-sm">Delete</button></td>
        </tr>
      </tbody>
    </table>


  </div>
</div>
